<div x-data="{ mode: window.theme.mode }">
  <p
    x-show="mode === 'light'"
    @click="mode = theme.toggle()"
  >
    <%= render RcdWeb.IconsView, "_moon.html", class: "w-4 cursor-pointer" %>
  </p>
  <p
    x-show="mode === 'dark'"
    @click="mode = theme.toggle()"
  >
    <%= render RcdWeb.IconsView, "_sun.html", class: "w-4 cursor-pointer" %>
  </p>
</div>
