<!DOCTYPE html>
<html lang="en" class="bg-900 font-display h-screen">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ryandurham.com</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="h-screen">
    <main role="main" class="h-screen">
      <%= @inner_content %>
    </main>
    <footer class="absolute right-0 bottom-0 left-0 flex font-display text-default p-2 z-10 justify-between">
      <%= render "_theme_toggle.html", assigns %>
      <p class="text-xs">
        <a href="https://github.com/sdras/night-owl-vscode-theme" target="_blank">night owl</a> /
        <a href="https://dank.sh/" target="_blank">dank mono</a> /
        <a href="http://heroicons.dev" target="_blank">heroicons</a>
      </p>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
