<!DOCTYPE html>
<html lang="en" class="h-screen font-dm">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ryandurham.com</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
  <%= csrf_meta_tag() %>
</head>

<body class="h-screen bg-owl-100 dark:bg-owl-900 text-owl-900 dark:text-owl-400">
  <header class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-4 sm:mb-8">
    <div class="max-w-3xl mx-auto flex flex-col items-center">
      <div class="mt-24 flex items-center w-16 sm:w-24">
        <%= render RcdWeb.IconsView, "_moose.html", class: "w-full fill-current dark:text-owl-400 text-owl-900" %>
      </div>
    </div>
  </header>
  <main role="main">
    <%= @inner_content %>
  </main>
  <footer
    class="fixed right-0 bottom-0 left-0 flex text-owl-900 dark:text-owl-400 p-2 z-10 justify-between"
  >
    <p>&#169; <em>Ryan Durham</em></p>
    <p class="">
      <%= link(to: Routes.page_path(@conn, :colophon)) do %>
        &pi;
      <% end %>
    </p>
  </footer>
  <script>
    window.userToken = "<%= assigns[:user_token] %>";
  </script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
