<!DOCTYPE html>
<html lang="en" class="h-screen font-dm">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ryandurham.com</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body class="bg-owl-100 dark:bg-owl-900 text-owl-900 dark:text-owl-400">
    <header>
      <nav role="navigation">
        <%= render "_portal_nav.html", assigns %>
      </nav>
    </header>
    <div class="container">
      <main role="main">
        <%= render "_flash_messages.html", assigns %>
        <%= @inner_content %>
      </main>
    </div>
    <script>window.userToken = "<%= Plug.Conn.get_session(@conn, :user_token)|>Base.encode64() %>";</script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
