# In this file, we load test configuration and secrets
# from environment variables. You can also hardcode secrets,
# although such is generally not recommended and you have to
# remember to add this file to your .gitignore.
use Mix.Config

# Configure your database
config :library, Library.Repo,
  username: "ryan",
  password: "secret",
  database: "ryandurham.test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox
