/*! purgecss start ignore */

@tailwind base;

@tailwind components;

/*! purgecss end ignore */

/* labels */
label {
  @apply block text-sm font-medium leading-5;
}

/* regular text inputs light mode*/
input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]) {
  @apply appearance-none block w-full bg-transparent text-owl-900 px-3 py-2 border border-owl-600 rounded-md transition duration-150 ease-in-out;
}

/* regular text inputs dark mode*/
.mode-dark input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]) {
  @apply text-owl-400;
}

/* Regular text inputs :focus dark mode */
input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]):focus {
  @apply outline-none border-dark-blue;
}

/* Regular text inputs :focus light mode */
.mode-dark input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]):focus {
  @apply outline-none border-blue;
}

/* Regular text inputs :placeholder light mode */
input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]):placeholder {
  @apply text-owl-900;
}

/* Regular text inputs :placeholder dark mode */
.mode-dark input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]):placeholder {
  @apply text-owl-600;
}

/* checkboxes */
input[type=checkbox] {
  @apply h-4 w-4 bg-transparent text-owl-200 border-owl-600 transition duration-150 ease-in-out;
}

/* checkboxes dark mode */
.mode-dark input[type=checkbox] {
  @apply text-owl-600;
}

/* checkboxes :focus light mode */
input[type=checkbox]:focus {
  @apply outline-none border-dark-blue shadow-none;
}

/* checkboxes :focus dark mode */
input[type=checkbox]:focus {
  @apply outline-none border-blue shadow-none;
}

/* select - light mode */
select{
  @apply appearance-none block w-full bg-transparent text-owl-900 px-3 py-2 border border-owl-600 rounded-md transition duration-150 ease-in-out;
}

/* select - dark mode */
.mode-dark select {
  @apply text-owl-400;
}

/* text area - light mode */
textarea {
  @apply appearance-none block w-full bg-transparent text-owl-900 px-3 py-2 border border-owl-600 rounded-md transition duration-150 ease-in-out;
}

/* text area - dark mode */
.mode-dark textarea {
  @apply text-owl-400;
}


/* basic button */
.btn {
  @apply flex h-10 py-2 px-4 border border-transparent text-sm content-center items-center font-medium rounded-md transition duration-150 ease-in-out;
}

/* basic button :hover light mode*/
.btn:hover {
  @apply text-owl-600;
}

/* basic button :hover dark mode*/
.mode-dark .btn:hover {
  @apply text-owl-900;
}

/* basic button :focus light mode*/
.btn:focus {
  @apply outline-none border-dark-blue;
}

/* basic button :focus dark mode */
.mode-dark .btn:focus {
  @apply outline-none border-blue;
}

/* primary button light mode */
.btn-primary {
  @apply bg-owl-300;
}

/* primary button dark mode*/
.mode-dark .btn-primary {
  @apply bg-owl-700;
}

/* primary button :hover */
.btn-primary:hover {
  @apply bg-blue;
}

/* secondary button light mode */
.btn-secondary {
  @apply bg-owl-200;
}

/* secondary button dark mode */
.mode-dark .btn-secondary {
  @apply bg-owl-800;
}

/* secondary button :hover */
.btn-secondary:hover {
  @apply bg-cyan;
}

/* danger button light mode */
.btn-danger {
  @apply bg-owl-200;
}

/* danger button dark mode */
.mode-dark .btn-danger {
  @apply bg-owl-800;
}

/* danger button :hover */
.btn-danger:hover {
  @apply bg-red;
}

/* headings */
h1 {
  @apply text-2xl leading-9;
}

h2 {
  @apply text-xl leading-9;
}

h3 {
  @apply text-lg leading-9;
}

/* unordered lists */
ul {
  @apply list-inside list-disc p-2;
}

/* links */
a:hover, a:focus, a:active {
  @apply text-blue;
}

/* container */
.container {
  @apply max-w-7xl mx-auto px-4;
}

/* main content */
main {
  @apply max-w-3xl mx-auto;
}

/* page headings */
main header {
  @apply my-12;
}

/* page heading title */
main header h1 {
  @apply w-full;
}

/* page heading aside */
main header aside {
  @apply w-full flex mt-4;
}

/* small screen breakpoint */
@screen sm {

  /* container */
  .container {
    @apply px-6;
  }

  /* headings */
  h1 {
    @apply text-4xl leading-9;
  }

  h2 {
    @apply text-3xl leading-9;
  }

  h3 {
    @apply text-2xl leading-9;
  }

  /* regular text inputs */
  input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]) {
    @apply text-sm leading-5;
  }
}

/* medium screen breakpoint */
@screen md {

  /* page headings */
  main header {
    @apply flex justify-between;
  }

  /* page heading title */
  main header h1 {
    @apply w-4/5;
  }

  /* page heading aside */
  main header aside {
    @apply w-1/5 justify-end mt-0;
  }

}


/* large screen breakpoint */
@screen lg {

  /* container */
  .container {
    @apply px-8;
  }

}

@tailwind utilities;
