<!DOCTYPE html>
<html lang="en" class="bg-inverse font-display h-screen">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ryandurham.com</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="h-screen">
    <header>
      <section class="container">

      </section>
    </header>
    <main role="main" class="h-screen">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="absolute right-0 bottom-0 font-display text-primary p-2 text-inverse">
      <p><a href="https://dank.sh/" target="_blank">dank mono</a> / <a href="https://github.com/sdras/night-owl-vscode-theme" target="_blank">night owl</a></p>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
